---
import Layout from '../layouts/Layout.astro'
import Experience from '../components/Experience'
---

<Layout title='Experience | AnthonyLzq'>
  <h1>Experience</h1>
  <Experience client:only />
</Layout>
