---
import Layout from '../layouts/Layout.astro'
import ExperienceTimeline from '../components/Experience'
---

<Layout
  title='Experience | AnthonyLzq'
  description='Professional experience of Anthony Luzquiños as a Full Stack and Node.js developer working with TypeScript, React, APIs and automation.'
>
  <h1>Experience</h1>
  <ExperienceTimeline client:only='react' />
</Layout>
