---
import Layout from '../layouts/Layout.astro'
import ExperienceTimeline from '../components/Experience'
---

<Layout title='Experience | AnthonyLzq'>
  <h1>Experience</h1>
  <ExperienceTimeline client:only='react' />
</Layout>
