---
import ProjectItem, {
  type Props as ProjectItemProps
} from '../components/ProjectItem.astro'
import Layout from '../layouts/Layout.astro'
import { tech } from '../utils'

const projects: ProjectItemProps[] = [
  {
    title: 'Simba.js',
    description: 'TypeScript framework for backend development.',
    image:
      'https://raw.githubusercontent.com/AnthonyLzq/Simba.js/v7.2.1/static/simba.png',
    url: 'https://github.com/AnthonyLzq/simba.js',
    tech: [
      tech.typescript,
      tech.javascript,
      tech.node,
      tech.express,
      tech.fastify,
      tech.graphql,
      tech.mongo,
      tech.postgres
    ]
  },
  {
    title: 'TypeScript Project Generator',
    description: 'Minimalist TypeScript project generator for Node.js.',
    image:
      'https://raw.githubusercontent.com/AnthonyLzq/typescript-project-generator/master/static/TypeScript-Project-Generator.png',
    url: 'https://github.com/AnthonyLzq/typescript-project-generator',
    tech: [tech.typescript, tech.javascript, tech.node],
    objectFit: 'contain'
  },
  {
    title: 'ACECOM',
    description: "ACECOM's web page.",
    image: 'https://acecom.dev/images/Marck5.png',
    url: 'https://www.acecom.dev',
    tech: [
      tech.typescript,
      tech.remix,
      tech.react,
      tech.material,
      tech.supabase,
      tech.prisma
    ],
    objectFit: 'contain',
    boxSizing: 'border-box',
    paddingTop: '12px'
  },
  {
    title: 'Thesis Project I',
    description:
      'Real Time Face Recognition and Communication using IoT protocols',
    image:
      'https://firebasestorage.googleapis.com/v0/b/cc-planinfoextractor.appspot.com/o/uni_logo.png?alt=media',
    url: 'https://thesis1.anthonylzq.dev',
    tech: [
      tech.typescript,
      tech.node,
      tech.remix,
      tech.react,
      tech.material,
      tech['chart.js'],
      tech['mqtt.js'],
      tech.tensorflow,
      tech.raspberry
    ],
    objectFit: 'contain',
    boxSizing: 'border-box',
    paddingTop: '8px'
  },
  {
    title: 'Bus Geolocation',
    description: 'Geolocation of buses in Lima, Peru',
    image:
      'https://smarttransit.vercel.app/build/_assets/BusGeolocation-Q4HQQVN5.png',
    url: 'https://smarttransit.vercel.app',
    tech: [
      tech.typescript,
      tech.node,
      tech.remix,
      tech.react,
      tech['mqtt.js'],
      tech.raspberry,
      tech.leaflet
    ],
    objectFit: 'contain'
  },
  {
    title: 'node-webcam',
    description: 'Node.js Cross-platform webcam module.',
    image:
      'https://raw.githubusercontent.com/AnthonyLzq/node-webcam/master/static/node-webcam.png',
    url: 'https://github.com/AnthonyLzq/node-webcam',
    tech: [tech.typescript, tech.javascript, tech.node],
    objectFit: 'contain'
  },
  {
    title: 'Shopping Cart',
    description:
      'Minimalist shopping cart with React, TypeScript, Material-UI and Vite.',
    image: 'https://picsum.photos/300/200',
    url: 'https://scr.anthonylzq.dev',
    tech: [tech.typescript, tech.react, tech.material]
  },
  {
    title: 'Sum Time',
    description: 'Sum time in hours, minutes and seconds.',
    image: 'https://picsum.photos/300/200',
    url: 'https://st.anthonylzq.dev',
    tech: [tech.astro, tech.typescript, tech.react]
  },
  {
    title: 'Color Generator',
    description: 'Get shades of CSS color.',
    image: 'https://picsum.photos/300/200',
    url: 'https://cg.anthonylzq.dev',
    tech: [tech.astro, tech.typescript, tech.react]
  }
]
---

<Layout title='Projects | AnthonyLzq'>
  <h1>Projects</h1>
  <section>{projects.map(project => <ProjectItem {...project} />)}</section>
</Layout>

<style>
  section {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  @media (max-width: 1024px) {
    section {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  @media (max-width: 768px) {
    section {
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }
  }

  @media (max-width: 680px) {
    section {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  @media (max-width: 600px) {
    section {
      grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    }
  }
</style>
