---
import ProjectItem, {
  Props as ProjectItemProps
} from '../components/ProjectItem.astro'
import Layout from '../layouts/Layout.astro'
import { tech } from '../utils'

const projects: ProjectItemProps[] = [
  {
    title: 'Simba.js',
    description: 'TypeScript framework for backend development.',
    image:
      'https://firebasestorage.googleapis.com/v0/b/cc-planinfoextractor.appspot.com/o/simba-pink.png?alt=media',
    url: 'https://github.com/AnthonyLzq/simba.js',
    tech: [
      tech.typescript,
      tech.javascript,
      tech.node,
      tech.express,
      tech.fastify,
      tech.graphql,
      tech.mongo,
      tech.postgres
    ]
  },
  {
    title: 'TypeScript Project Generator',
    description: 'Minimalist TypeScript project generator for Node.js.',
    image: 'https://picsum.photos/300/200',
    url: 'https://github.com/AnthonyLzq/typescript-project-generator',
    tech: [tech.typescript, tech.javascript, tech.node]
  },
  {
    title: 'node-webcam',
    description: 'Node.js Cross-platform webcam module.',
    image: 'https://picsum.photos/300/200',
    url: 'https://github.com/AnthonyLzq/node-webcam',
    tech: [tech.typescript, tech.javascript, tech.node]
  },
  {
    title: 'ACECOM',
    description: "ACECOM's web page.",
    image: 'https://acecom.dev/images/Marck5.png',
    url: 'https://www.acecom.dev',
    tech: [
      tech.typescript,
      tech.remix,
      tech.react,
      tech.material,
      tech.supabase,
      tech.prisma
    ],
    objectFit: 'contain'
  },
  {
    title: 'Shopping Cart',
    description:
      'Minimalist shopping cart with React, TypeScript, Material-UI and Vite.',
    image: 'https://picsum.photos/300/200',
    url: 'https://scr.anthonylzq.dev',
    tech: [tech.typescript, tech.react, tech.material]
  },
  {
    title: 'Thesis Project I',
    description:
      'Real Time Face Recognition and Communication using IoT protocols',
    image: 'https://picsum.photos/300/200',
    url: 'https://thesis1.anthonylzq.dev/',
    tech: [
      tech.typescript,
      tech.node,
      tech.remix,
      tech.react,
      tech.material,
      tech['chart.js'],
      tech['mqtt.js'],
      tech.tensorflow,
      tech.raspberry
    ]
  }
]
---

<Layout title='Projects | AnthonyLzq'>
  <h1>Projects</h1>
  <section>{projects.map(project => <ProjectItem {...project} />)}</section>
</Layout>

<style>
  section {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  }

  @media (max-width: 1024px) {
    section {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  @media (max-width: 768px) {
    section {
      grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    }
  }

  @media (max-width: 680px) {
    section {
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
  }

  @media (max-width: 600px) {
    section {
      grid-template-columns: repeat(auto-fit, minmax(232px, 1fr));
    }
  }
</style>
