---
import logo from '../static/images/logo.svg'
---

<header>
  <img src={logo.src} alt='avatar' />
  <navbar>
    <input type='checkbox' id='checkbox_toggle' />
    <label for='checkbox_toggle'>&#9776;</label>
    <ul class='hidden'>
      <li><a href='/'>About me</a></li>
      <li><a href='/experience'>Experience</a></li>
      <li><a href='/projects'>Projects</a></li>
      <li><a href='/blog'>Blog</a></li>
      <li><a href='/contact'>Contact</a></li>
    </ul>
  </navbar>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 66px;
  }

  navbar {
    display: flex;
  }

  navbar input,
  label {
    display: none;
  }

  header img {
    width: 2.5rem;
    height: 2.5rem;
  }

  header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1rem;
    z-index: 2;
  }

  header ul li {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    cursor: pointer;
  }

  header ul li:hover {
    color: #666;
  }

  header ul li a {
    text-decoration: none;
    color: #000;
  }

  @media (max-width: 768px) {
    .hidden {
      visibility: hidden;
    }

    navbar label {
      display: block;
      font-size: 2rem;
      cursor: pointer;
    }

    navbar ul {
      position: fixed;
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      right: 36px;
      top: 52px;
      align-items: flex-end;
      background-color: #fff;
      padding: 0.5rem 0.5rem 0.75rem;
      border-radius: 4px;
      text-align: end;
      min-width: 86px;
    }

    #checkbox_toggle ~ ul li {
      width: 100%;
    }

    #checkbox_toggle:checked ~ ul li::after {
      content: ' ';
      display: block;
      width: 10%;
      height: 1px;
      background-color: #000;
      transition: width 0.3s;
      position: absolute;
      right: 10px;
      margin-top: 2px;
    }

    #checkbox_toggle:checked ~ ul li:hover::after {
      animation: bigger 0.2s linear forwards;
    }

    @keyframes slideRight {
      0% {
        opacity: 1;
        transform: translateX(0%);
      }
      100% {
        opacity: 0;
        transform: translateX(100%);
      }
    }

    @keyframes slideLeft {
      0% {
        opacity: 0;
        transform: translateX(100%);
      }
      100% {
        opacity: 1;
        transform: translateX(0%);
      }
    }

    @keyframes bigger {
      0% {
        height: 1px;
      }
      100% {
        height: 4px;
      }
    }
  }
</style>

<script>
  const css = `
#checkbox_toggle:not(:checked) ~ ul {
animation: slideRight 0.25s linear forwards;
}

#checkbox_toggle:checked ~ ul {
animation: slideLeft 0.25s linear forwards;
}
`
  const head = document.head || document.getElementsByTagName('head')[0]
  const style = document.createElement('style')
  let clicked = false

  const element = document.querySelector('#checkbox_toggle')

  element?.addEventListener('click', () => {
    if (!clicked) {
      document.querySelector('ul')?.classList.remove('hidden')
      style.appendChild(document.createTextNode(css))
      head.appendChild(style)
      clicked = !clicked
    }
  })
</script>
