---
---

<header>
  <img src='https://acecom.dev/favicon.ico' alt='avatar' />
  <li>
    <ul>About me</ul>
    <ul>Projects</ul>
    <ul>Blog</ul>
    <ul>Contact</ul>
  </li>
</header>

<style>
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 66px;
  }

  header img {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }

  header li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header li ul {
    font-size: 1.2rem;
    font-weight: 500;
    color: #000;
    cursor: pointer;
  }

  header li ul:hover {
    color: #000;
  }
</style>
