---
import Icon from './Icon.astro'
---

<article id='profile'>
  <div id='container'>
    <section id='profile__description'>
      <h1>Anthony Luzquiños</h1>
      <section id='profile__description__photo'>
        <img
          src='https://avatars.githubusercontent.com/u/43073718?s=400&u=aec2fb80a012b0d5ec19c1368ccb796638860cad&v=4'
          alt='profile'
        />
      </section>
      <h2>Full Stack Developer</h2>
      <p>
        I'm a full stack developer with a passion for building great products. I
        have experience building web applications with TypeScript, React and
        Node.js.
      </p>
      <div>
        <Icon
          href='https://www.linkedin.com/in/anthony-luzquinos/'
          image='https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/linkedin.svg'
          name='linkedin'
        />
        <Icon
          href='https://github.com/AnthonyLzq'
          image='https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/github.svg'
          name='github'
        />
        <Icon
          href='https://twitter.com/Anthony_Lzq'
          image='https://raw.githubusercontent.com/danielcranney/readme-generator/main/public/icons/socials/twitter.svg'
          name='twitter'
        />
      </div>
    </section>
    <section id='profile__photo'>
      <img
        src='https://avatars.githubusercontent.com/u/43073718?s=400&u=aec2fb80a012b0d5ec19c1368ccb796638860cad&v=4'
        alt='profile'
      />
    </section>
  </div>
</article>

<style>
  article {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100%;
    column-gap: 4rem;
    min-height: calc(100vh - 66px - 2rem);
  }

  div#container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
    width: 75%;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  section#profile__description {
    row-gap: 1.5rem;
  }

  section#profile__description__photo {
    display: none;
  }

  h1 {
    font-size: 3rem;
    font-weight: 700;
    margin: 0;
  }

  h2 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
  }

  p {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
  }

  ul {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0 1rem;
  }

  img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  @media (max-width: 1124px) {
    article {
      flex-direction: column;
      text-align: center;
    }

    section {
      align-items: center;
    }

    section#description {
      row-gap: 1rem;
    }

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.2rem;
      width: 80%;
    }

    ul {
      flex-direction: column;
    }

    li {
      font-size: 1rem;
      margin: 0.5rem 0;
    }

    img {
      width: 200px;
      height: 200px;
    }
    section#profile__description__photo {
      display: block;
    }

    section#profile__photo {
      display: none;
    }
  }

  @media (max-width: 844px) {
    p {
      width: 90%;
    }
  }

  @media (max-width: 768px) {
    p {
      width: 100%;
    }
  }
</style>
