---
import Social from './Social'
import profilePhoto from '../static/images/profile.png'
import logoAndName from '../static/images/logo-and-name.svg'
---

<article class='profile'>
  <div class='profile__container'>
    <section class='profile__description'>
      <div class='profile__logo-container'>
        <img
          class='profile__logo'
          src={logoAndName.src}
          alt='AnthonyLzq svg logo'
        />
      </div>

      <div class='profile__photo-container'>
        <img
          class='profile__photo'
          src={profilePhoto.src}
          alt='AthonyLzq profile photo'
        />
      </div>
      <h1 class='profile__title'>I'm a Full Stack Developer...</h1>
      <p class='profile__descrption-text'>
        ...with a passion for building great products. I have experience
        building web applications with TypeScript, React and Node.js.
      </p>
      <Social />
    </section>

    <section class='profile__photo-container-2'>
      <img
        class='profile__photo'
        src={profilePhoto.src}
        alt='AthonyLzq profile photo'
      />
    </section>
  </div>
</article>

<style>
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: calc(100vh - 66px - 2rem);
  }

  .profile__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 2rem;
    width: 64%;
  }

  section {
    display: flex;
    flex-direction: column;
  }

  .profile__description {
    row-gap: 1.5rem;
  }

  .profile__photo-container {
    display: none;
  }

  .profile__logo-container {
    width: 100%;
    height: 200px;
  }

  .profile__logo {
    height: 200px;
  }

  .profile__title {
    font-size: 2rem;
    font-weight: 600;
    margin: 0;
  }

  .profile__descrption-text {
    text-wrap: balance;
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
  }

  .profile__photo {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }

  @media screen and (width <= 1720px) {
    .profile__container {
      width: 70%;
    }
  }

  @media screen and (width <= 1600px) {
    .profile__container {
      width: 75%;
    }
  }

  @media screen and (width <= 1520px) {
    .profile__container {
      width: 80%;
    }
  }

  @media screen and (width <= 1380px) {
    .profile__container {
      width: 85%;
    }
  }

  @media screen and (width <= 1280px) {
    .profile__container {
      width: 90%;
    }
  }

  @media screen and (width <= 1166px) {
    .profile__container {
      width: 95%;
    }
  }

  @media screen and (width <= 1124px) {
    .profile {
      flex-direction: column;
      text-align: center;
    }

    section {
      align-items: center;
    }

    .profile__title {
      font-size: 2rem;
    }

    .profile__descrption-text {
      font-size: 1.2rem;
      width: 80%;
    }

    .profile__photo-container {
      display: block;
    }

    .profile__photo-container-2 {
      display: none;
    }
  }

  @media screen and (width <= 844px) {
    .profile__descrption-text {
      width: 90%;
    }
  }

  @media screen and (width <= 768px) {
    .profile__logo-container {
      height: auto;
    }

    .profile__logo {
      height: auto;
      width: 100%;
    }

    .profile__descrption-text {
      width: 100%;
    }
  }

  @media screen and (width <= 540px) {
    .profile__photo {
      width: 100%;
      height: auto;
    }
  }
</style>
