---
import Header from '../components/Header.astro'

const { frontmatter } = Astro.props
---

<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <Header />
    <main>
      <article>
        <slot />
      </article>
    </main>
  </body>
</html>

<style is:inline>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }

  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }

  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }

  body {
    margin: 0;
    padding: 0;
    background-color: #f6f6f6;
  }

  main {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
  }

  article {
    width: 800px;
  }

  pre {
    padding: 0.8rem;
    border-radius: 0.2rem;
  }

  h1 {
    font-size: 2.5rem;
    margin: 0;
  }

  code {
    padding: 0rem 0.4rem;
    color: #666;
  }

  img {
    max-width: 100%;
    object-fit: cover;
  }

  @media (max-width: 900px) {
    article {
      width: 90%;
    }
  }
</style>
